.bg {
  background-color: #d9d9d9;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  background: #8eb0c7;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 8px;
  max-width: 350px;
  margin: 40px auto;
  padding: 18px 18px 24px 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.input {
  min-width: 70%;
  max-width: 100%;
  border-radius: 6px;
  border: 1.5px solid #222;
  padding: 7px 8px;
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 4px;
}

.checksRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.checkLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.checkbox {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.crearBtn {
  margin: 0 auto;
  margin-top: 10px;
  background: #eaf3ef;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 7px 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: background 0.2s;
}
.carro_maquinas {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: space-between;
}
.select {
  padding: 6px 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1.5px solid #222;
}
.eliminarBtn {
  color: tomato;
  background: #ffffff;
  border: 1px solid tomato;
  font-size: 1.1rem;
  border-radius: 6px;
  font-weight: bold;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}
.eliminarBtn:hover {
  background: tomato;
  color: #ffffff;
}
.agregarCarroBtn {
  width: 50%;
  align-self: center;
  margin-top: 8px;
  background: #eaf3ef;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: background 0.2s;
}