.eyeButton {
  position: absolute;
  right: 0.7em;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 1.5em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: none;
}
.loginContainer {
  background-color: #91a8c3;
  border: 0.125rem solid #222;
  border-radius: 0.5rem;
  width: 90vw;
  max-width: 35rem;
  min-width: 16rem;
  margin: 0 auto;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.loginTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  background-color: #91a8c3;
  border-bottom: 0.125rem solid #222;
  padding: 0.75rem 0 0.5rem 0;
}

.loginLabel {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.3rem;
  display: block;
}

.loginInput {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 1em;
  border: 0.125rem solid #222;
  border-radius: 0.5rem;
  margin-bottom: 0.7em;
  box-sizing: border-box;
}

.loginButton {
  display: block;
  margin: 1.5rem auto 0 auto;
  padding: 0.7em 2em;
  background-color: #eaf1f1;
  color: #222;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
