.containerPrincipal {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content 1fr;
}

.prestamos {
  background-color: #91a8c3;
  grid-column: 1 / span 2;
  grid-row: 2;
  width: auto;
  height: auto;
  border: 2px solid rgb(184, 184, 184);
}
.crearPrestamobtn {
  background-color: #eef4ed;
  align-self: center;
  justify-self: flex-end;
  width: 50%;
  font-size: x-large;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: black;
  margin-bottom: 5px;
}
